@model List<EmployeeConciseViewModel>
@{
    ViewData["Title"] = "GetAllEmployees";
}

<h2 style="text-align:center">All @this.ViewData["Company"] Employees</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th colspan="3" style="text-align:center; background-color:#cccccc">Employees</th>
        </tr>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Experience Level</th>
        </tr>
    </thead>
    <tbody>
        @Html.DisplayForModel()
    </tbody>
</table>